footer_wrap{clear:both; border-top:1px solid #dedede; text-align:center; height:290px; background:##ededed}
#footer_sns {
  text-align: center;
  background-color: #ededed;
  padding: 1em 0;
}
 .footer_wrap .footer_sns{padding:30px 0; background:#FFFFFF;}

	.footer_wrap .footer_sns .sns_followUs{margin-right:10px;} 
	/* span.sns_followUs{display:inline-block; vertical-align:middle; width:78px; height:9px; line-height:250px; overflow:hidden; position:relative;} */
	a.sns_comonbtn{display:inline-block; vertical-align:middle; width:55px; height:52px; line-height:250px; overflow:hidden; position:relative; margin:0 5px;}
	a.sns_facebook{background-position:-98px 0;}
	a.sns_instagram{background-position:-161px 0;}
	a.sns_youtube{background-position:-223px 0;}
	a.sns_naverblog{background-position:-286px 0;}
.footer_wrap .footer_menu{padding-top:10px; background:#212121}
	.footer_wrap .footer_menu ul{display:inline-block; *display:inline; zoom:1; vertical-align:top; padding:0 10px 0 11px;}
	.footer_wrap .footer_menu .right{background:url('http://image.fnckolon.com/luckychouette/images/2012ss/footer_menu.png') no-repeat -602px 0; *background:url('http://image.fnckolon.com/luckychouette/images/2012ss/footer_menu.png') no-repeat -602px 2px;}
	.footer_wrap .footer_menu li{display:inline;}
	.footer_wrap .footer_menu li a{display:inline-block; vertical-align:top; line-height:150px; overflow:hidden; height:12px; margin:0 10px; background:url('http://image.fnckolon.com/luckychouette/images/2012ss/footer_menu.png') no-repeat 0 0;}
	.footer_wrap .footer_menu .storeInfo a{background-position:0 0; width:38px;}
	.footer_wrap .footer_menu .policy a{background-position:-66px 0; width:38px;}
	.footer_wrap .footer_menu .privacyInfo a{background-position:-131px 0; width:75px;}
	.footer_wrap .footer_menu .PrivacyPolicy a{background-position:-234px 0; width:76px;}
	.footer_wrap .footer_menu .wannabk a{background-position:-350px 0; width:89px;}
	.footer_wrap .footer_menu .jdchouette a{background-position:-459px 0; width:123px;}
	.footer_wrap .footer_menu .accuse a{background:url('http://image.fnckolon.com/luckychouette/images/2012ss/footer_menu2.png') no-repeat 0 0; width:59px;}/*20151111 추가*/
	.footer_wrap .footer_menu .eKolon a{background:url('http://image.fnckolon.com/luckychouette/images/2012ss/footer_menu3.png') no-repeat 0 0; width:59px;}/*20160105 추가*/
.footer_wrap .footer_info{margin-top:0px; background:#212121}
.footer_wrap .footer_escro{margin-top:10px;}
	.footer_wrap .footer_escro img{vertical-align:middle;}
	.footer_wrap .footer_escro a{margin-left:4px;}
.footer_wrap .footer_copy{margin-top:5px;}
